$text-negative: #fff;

$primary: #0036e6;
$primary-medium: lighten($primary, 25%);
$primary-light: lighten($primary, 50%);
$primary-bg: transparentize($primary-light, 0.8);

$secondary: #ffcc00;
$secondary-light: lighten($secondary, 10%);
$secondary-bg: transparentize($secondary-light, 0.7);

$box-shadow: #efefef;
