@import "colors.scss";
@import "helpers.scss";

.demand {
    // line-height: 200%;
}

.demand-lang {
    text-transform: uppercase;
    color: $text-negative;
    background-color: $primary-medium;
    @include rounded();
}

.demand-message {
    margin-top: 1em;
    background-color: $secondary-bg;
    @include box-shadow(2px, 2px, 2px);
}

.demand-comment {
    margin-bottom: 1em;
    background-color: $primary-lightish;
    color: $text-negative;
    @include rounded();
    @include top-left-rounded(0);
    @include italic();
}
