@import "colors";
@import "foundation";

$fi-path: "/fonts";
@import "_foundation-icons";

.main {
    background: url(../images/geometry.png);
    border-top: 2px solid $box-shadow;
}

.main .fi-shuffle {
    color: $text-negative;
    text-shadow: 1px 1px 5px $black;
}
