.search {
    max-width: 900px;
    margin: 2em auto;
    padding: 1em 0;
}

.search-box {
    padding: 1em;
    margin: 0 !important;
    -webkit-border-radius: 0 !important; // iOS7
}

.search-loader {
    margin: 1.5em 0;
}

.search-t3xo {
    margin-top: 1em;
}

.search-t3xo img {
    height: 100px;
}
