@import "colors.scss";

.translation {
    max-width: 900px;
    margin: 1.5em auto;
    padding: 1em;
    line-height: 200%;
    background: linear-gradient(
      $primary-bg,
      $primary-bg
    ),
    linear-gradient(
      #ffffff,
      $box-shadow
    );
}
